.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 100px 60px 80px;
}

.footer__content {
  margin-bottom: 108px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  transition: color 0.3s linear;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
}
