.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 0;
}

.footer__content {
  margin: 0 100px 108px 80px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  display: flex;
  align-items: center;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
}

.footer__list-item:nth-of-type(2) {
  margin: 20px 0 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  transition: color 0.3s linear;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 0 0 0 80px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}
