.header {
  background: no-repeat cover #fff url("../images/background_header.svg");
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 0 80px;
  z-index: 0;
}

.header__title {
  margin-top: 202px;
  margin-bottom: 28px;
  max-width: 729px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 72px;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 220px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
  align-self: flex-end;
}
