.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu__cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.menu__title {
  margin: 0 auto 24px;
  max-width: 780px;
  text-align: center;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0 auto 100px;
  max-width: 780px;
  text-align: center;
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.card {
  max-width: 600px;
  color: #fff;
  width: 50%;
}

.card__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  display: block;
  min-width: 50px;
  height: 1px;
  background-color: #d9e7ff;
  margin: 0 8px;
  flex-grow: 1;
}
