.recipes {
  background-color: #fff;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 580px;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  column-gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.recipes__video-caption-content {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
